app-loading-spinner {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

app-save-button,
app-cancel-button,
app-clean-button {
  margin: 0 5px;
  color: black;
}

pagination-controls {
  display: flex;
  justify-content: flex-end;
}
