.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  background: #fff;
  border-radius: 2px;

  .card-text {
    position: absolute;
    left: -1px;
    bottom: 10%;
    min-width: 35%;
    min-width: 45%;
    padding: 2px;
    background-color: black;
    text-align: center;
    border-radius: 0 5px 5px 0;
    color: white;
  }
  p {
    font-size: xxx-large;
  }






  &.estilo2,
  &.estilo3 {
    border: 3px solid black;
    box-shadow: none;

    &.primary {
      border-color: var(--bs-primary);
    }
    &.success {
      border-color: var(--bs-success);
    }
    &.warning {
      border-color: var(--bs-warning);
    }
    &.danger {
      border-color: var(--bs-danger);
    }

    .card-text {
      position: absolute;
      top: 20px;
      left: auto;
      bottom: auto;
      background-color: inherit;
      // background-color: black;
      text-align: center;
      color: white;

      font-size: xx-large;
      color: black;
    }
    p {
      font-size: 60px;
      margin-top: 30px;
    }
  }

  &.estilo3 {
    border: none;
    border-radius: 2px;
    &.primary {
      box-shadow: 0 3px 6px rgba(var(--bs-primary-rgb), 0.16),
        0 3px 6px rgba(var(--bs-primary-rgb), 0.23);
    }
    &.success {
      box-shadow: 0 3px 6px rgba(var(--bs-success-rgb), 0.16),
        0 3px 6px rgba(var(--bs-success-rgb), 0.23);
    }
    &.warning {
      box-shadow: 0 3px 6px rgba(var(--bs-warning-rgb), 0.16),
        0 3px 6px rgba(var(--bs-warning-rgb), 0.23);
    }
    &.danger {
      box-shadow: 0 3px 6px rgba(var(--bs-danger-rgb), 0.16),
        0 3px 6px rgba(var(--bs-danger-rgb) 0.23);
    }
  }
}
