<form [formGroup]="formGroup">
  <div class="mb-3">
    <label>Tipo de Categoría </label>
    <input type="number"
      class="form-control form-input"
      id="typeCategoryInput"
      formControlName="typeCategoryId">
  </div>
  <div class="mb-3">
    <label>Tipo de Subcategoría </label>
    <input type="number"
      class="form-control form-input"
      id="typeSubCategoryInput"
      formControlName="typeSubcategoryId">
  </div>
  <div class="mb-3">
    <label>Nombre</label>
    <input type="text"
      class="form-control form-input"
      id="nameCategoryInput"
      formControlName="nameCategoryId">
  </div>
  <div class="row">
    <div class="col-sm-12 ms-auto">
      <app-save-button style="margin-left: 5px;"
        [isDisabled]="isDisabledSaveButton"></app-save-button>
      <app-cancel-button style="margin-left: 5px;"
        (onCancel)="resetForm()"></app-cancel-button>
    </div>
  </div>
</form>
