<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">{{ 'menuSuper.title' | translate }}</a></li>
                        <li class="breadcrumb-item">{{ 'menuSuper.apis' | translate }}</li>
                    </ol>
                </div>
                <h4 class="page-title">{{ 'menuSuper.apis' | translate }}</h4>
            </div>
        </div>
    </div>

    <div class="row">

            <iframe class="margenes"  src="http://www.apicomerciolocal.somee.com/swagger/index.html" ></iframe>

    </div>
    
</div>