.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

// .counters-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
//   grid-auto-rows: min-content;
//   // background-color: lightgreen;
//   gap: 10px;

//   @media (max-width: 1199px) {
//     margin: 10px 0;
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

.las.la-pen {
  color: rgb(36, 138, 221) !important;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: rgb(201, 201, 201);
  }
}

.las.la-trash-alt {
  color: red !important;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: rgb(201, 201, 201);
  }
}

.fas.fa-check-circle {
  color: green !important;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: rgb(201, 201, 201);
  }
}

.table-paginators-margin {
  margin: 20px 0;
}
