<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1">Tipo de Categoría </label>
        <input type="number" class="form-control form-input" id="exampleFormControlInput1" >
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1">Nombre</label>
        <input type="text" class="form-control form-input" id="exampleFormControlInput1" >
    </div>
    <div class="row">
        <div class="col-sm-12 ms-auto">
            <button type="submit" class="btn btn-de-sucess btnSave">Guardar <i class="far fa-save btn1"></i></button>
            <button type="button" class="btn btn-de-danger btnCancel margen">Cancelar <i class="fas fa-times btn1"></i></button>
        </div>
    </div> 
</form> 


