<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Formulario de reservas</td>
                    <td><span class="badge badge-boxed  badge-outline-success">Activo</span></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Formulario de pedidos en línea</td>
                    <td><span class="badge badge-boxed  badge-outline-danger">Inactivo</span></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Formulario de Opiniones y Comentarios</td>
                    <td><span class="badge badge-boxed  badge-outline-success">Activo</span></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Formulario de Feedback sobre el Menú</td>
                    <td><span class="badge badge-boxed  badge-outline-success">Activo</span></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Formulario de Empleo</td>
                    <td><span class="badge badge-boxed  badge-outline-success">Activo</span></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Formulario de Solicitud de Reservación para Eventos</td>
                    <td><span class="badge badge-boxed  badge-outline-success">Activo</span></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Formulario de Reclamaciones o Problemas</td>
                    <td><span class="badge badge-boxed  badge-outline-success">Activo</span></td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Formulario de Eventos Especiales</td>
                    <td><span class="badge badge-boxed  badge-outline-success">Activo</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
