<div class="title-box">
    <h6 class="menu-title">Super Administrador</h6>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">Opción 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opción 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opción 3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opción 4</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opción 5</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opción 6</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opción 7</a>
    </li>
  </ul>
