<div class="title-box">
    <h6 class="menu-title">{{ 'menuSuper.title' | translate }}</h6>
  </div>
  <ul class="navbar-nav nav flex-column">
    <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/superDashboard']" routerLinkActive="activo">{{ 'menu.dash' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#sidebarGeneral" data-bs-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="sidebarGeneral">
            {{ 'menu.general' | translate }}
        </a>
        <div class="collapse " id="sidebarGeneral">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLinkActive="activo">{{ 'menuSuper.city' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLinkActive="activo">{{ 'menuSuper.country' | translate }}</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#sidebarBusiness" data-bs-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="sidebarBusiness">
            {{ 'menu.business' | translate }}
        </a>
        <div class="collapse " id="sidebarBusiness">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['/categorias']" routerLinkActive="activo">{{ 'menuSuper.categories' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margen2" href="#" routerLinkActive="activo">{{ 'menuSuper.forms' | translate }}</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#sidebarSubscriber" data-bs-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="sidebarSubscriber">
            {{ 'menu.subscriber' | translate }}
        </a>
        <div class="collapse " id="sidebarSubscriber">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link margen2" href="#" routerLinkActive="activo">{{ 'menuSuper.subscriber' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margen2" href="#" routerLinkActive="activo">{{ 'menu.option' | translate }}</a>
                </li>
            </ul>
        </div>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="#sidebarCate" data-bs-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="sidebarCate">
            {{ 'menuSuper.categories' | translate }} 
        </a>
        <div class="collapse " id="sidebarCate">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link margen2" [routerLink] = "['/categorias']"> {{'menuSuper.categories' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margen2" href="#"> {{'menuSuper.subcategories' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margen2" href="#"> {{'menuSuper.specialties' | translate}}</a>
                </li>
            </ul>
        </div>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/apis']" routerLinkActive="activo"> {{ 'menuSuper.apis' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">{{ 'menu.option' | translate }}</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="#">{{ 'menu.option' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#sidebarEjemplo" data-bs-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="sidebarEjemplo">
            Ejemplo
        </a>
        <div class="collapse " id="sidebarEjemplo">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link margen2" href="#" routerLinkActive="activo">{{ 'menu.option' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margen2" href="#" routerLinkActive="activo">{{ 'menu.option' | translate }}</a>
                </li>
            </ul>
        </div>
    </li> -->
  </ul>
