.btnSave {
  color: #202124 !important;
  border-color: #202124 !important;

  &:hover {
    color: #f4f5f7 !important;
    background-color: #202124 !important;
    border-color: #202124 !important;
  }
}
