<form [formGroup]="form" (ngSubmit)="addRegister()">
    <!-- <div class="mb-3">
      <label>Tipo de Categoría </label>
      <input type="number"
        class="form-control form-input"
        id="Id"
        formControlName="businessCategoryId">
    </div> -->
    <div class="mb-3">
      <label>Nombre</label>
      <input type="text"
        [class.valid]="this.form.get('description')?.valid"
        [class.fail]="this.form.get('description')?.invalid && this.form.get('description')?.touched"
        class="form-control form-input"
        id="name"
        formControlName="description">
    </div>
    <div class="row">
      <div class="col-sm-12 ms-auto">
        <app-save-button style="margin-left: 5px;"
                        [isDisabled]="this.form.invalid"
                        ></app-save-button>
        <app-cancel-button style="margin-left: 5px;"
          (onCancel)="resetForm()"></app-cancel-button>
      </div>
    </div>
</form>