<table class="table border-dashed mb-0">
    <thead>
    <tr>
        <th>Descripción</th>
        <th class="text-end">Cantidades</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Totales</td>
        <td class="text-end">1843</td>

    </tr>
    <tr>
        <td>Activas</td>
        <td class="text-end">2543</td>
                                               
    </tr>
    <tr>
        <td>Inactivas</td>
        <td class="text-end">3654</td>

    </tr>
    
    </tbody>
</table>
