
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Inicio</li>
                    </ol>
                </div>
                <h4 class="page-title">Inicio</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- aqui va el contenido -->
    </div>
    
</div>





