<div class="table-responsive">
    <table class="table mb-0">
        <thead class="thead-light">
        <tr>
            <th># Tipo Categoría</th>
            <th>Nombre</th>
            <th class="text-end">Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let categories of listCategories">
            <td scope="row">{{categories.businessCategoryId}}</td>
            <td>{{categories.description}}</td>
            <td class="text-end">                                                       
                <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                <a (click)="delete(categories.businessCategoryId)"><i class="las la-trash-alt text-secondary font-16"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
