<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <thead>
                <tr>
                    <th>Formulario</th>
                    <th>Permisos</th>
                    <th>Estado</th>
                    <th class="text-end">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="assets/images/users/user-3.jpg" alt="" class="rounded-circle thumb-xs me-1"> Aaron Poulin</td>
                    <td>Aaron@example.com</td>
                    <td>+21 21547896</td>
                    <td class="text-end">                                                       
                        <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                        <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/images/users/user-4.jpg" alt="" class="rounded-circle thumb-xs me-1"> Richard Ali</td>
                    <td>Richard@example.com</td>
                    <td>+41 21547896</td>
                    <td class="text-end">                                                       
                        <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                        <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/images/users/user-5.jpg" alt="" class="rounded-circle thumb-xs me-1"> Juan Clark</td>
                    <td>Juan@example.com</td>
                    <td>+65 21547896</td>
                    <td class="text-end">                                                       
                        <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                        <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/images/users/user-6.jpg" alt="" class="rounded-circle thumb-xs me-1"> Albert Hull</td>
                    <td>Albert@example.com</td>
                    <td>+88 21547896</td>
                    <td class="text-end">                                                       
                        <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                        <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                    </td>
                </tr>
                </tbody>
            </table><!--end /table-->
        </div><!--end /tableresponsive-->
    </div><!--end card-body-->
</div>