/* You can add global styles to this file, and also import other style files */
@import url("./assets/css-custom/components.scss");
@import url("./assets/css-custom/css-custom.scss");

body {
  background-color: gray;
}
:root {
  $color-main-yellow: #ebc131;
}

.btnDark{
  background-color: #0f0f0f !important;
  color: #fff !important;
}

.btntText{
  color: white !important;
}

.ngx-pagination .current {
  background: #0c0c0c !important;
  color: #fefefe;
}

.hoverDark:hover{
  background-color: #0f0f0f !important;
  color: #fff !important;
}

.modal-header {
  background-color: #0f0f0f !important;
  color: #ebc131 !important;
}

.form-control{
  border-color: #ebc131 !important;
  border-radius: 5px;
}

.form-select {
  border-color: #ebc131 !important;
  border-radius: 5px;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background: #202124;
  color: #fff;
  border-radius: 0;
}

.nav-link {
  color: #202124;
  text-decoration: none;
}

.nav-link:hover {
  color: #ebc131;
}

.activo {
  color: #ebc131 !important;
}

.form-input:hover {
  border-color: #ebc131;
}

.form-input:focus {
  border-color: #ebc131;
}

.margen {
  margin-left: 10px;
}

.btnCancel {
  border-color: #c04327 !important;
}


.nav-tabs-custom .nav.nav-tabs .nav-link i {
  font-size: 24px;
  vertical-align: middle;
  color: #141414;
}

.nav-tabs-custom .nav.nav-tabs .nav-link.active {
  background-color: #fafbfb;
  border-color: transparent;
  color: #ebc131;
}

.nav-tabs-custom .nav.nav-tabs .nav-link.active i {
  color: #ebc131;
}

.accordion-button:not(.collapsed) {
  color: #ebc131;
  background-color: #f8f3e2 !important;
  -webkit-box-shadow: #f8f3e2 !important;
  box-shadow: #f8f3e2 !important;
}