<div class="card">
    <div class="card-header">
        <h4 class="card-title">Formularios de Negocios</h4>
        <p class="text-muted mb-0">Listado de formularios de las especialidades</p>
    </div><!--end card-header-->
    <div class="card-body">    

        <!-- Nav tabs -->
        <div class="nav-tabs-custom text-center">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link text-center active" data-bs-toggle="tab" href="#forms-restaurants" role="tab">
                        <i class="mdi mdi-food-fork-drink d-block"></i>Restaurantes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" data-bs-toggle="tab" href="#forms-doctors" role="tab">
                        <i class="la la-hospital-o d-block"></i>Doctores
                    </a>
                </li>                                                
                <li class="nav-item">
                    <a class="nav-link text-center" data-bs-toggle="tab" href="#forms-options" role="tab">
                        <i class="la la-cog d-block"></i>Opciones
                    </a>
                </li>
            </ul>
        </div>
        

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active p-3" id="forms-restaurants" role="tabpanel">
                <p class="mb-0 text-muted">
                    Raw denim you probably haven't heard of them jean shorts Austin.
                </p>
            </div>
            <div class="tab-pane p-3" id="forms-doctors" role="tabpanel">
                <p class="mb-0 text-muted">
                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla.
                </p>
            </div>                                                
            <div class="tab-pane p-3" id="forms-options" role="tabpanel">
                <p class="text-muted mb-0">
                    Trust fund seitan letterpress, keytar raw denim keffiyeh etsy.
                </p>
            </div>
        </div> <!--end tab-content-->   
    </div><!--end card-body-->
</div>